.boardContainer {
    position: absolute;
    height: 590px;
    width: 800px;
    margin: 5% 20%; 
    background-color:blue;
    padding: 10px;
    border: solid 2px #444;
    border-radius:17px;
}

